<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="new">
        <form method="post" action="/new">
            <input type="text" name="quote" placeholder="Nakyly yazyn">
            <input type="text" name="autor" placeholder="Awtory">
            <input type="submit">
        </form>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>